.iconPlus {
  height: var(--height-20);
  width: var(--width-20);
  position: relative;
}
.vectorIcon {
  position: absolute;
  height: 37.5%;
  width: 100%;
  top: 31.5%;
  right: 31%;
  bottom: 31%;
  left: 31.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
